@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
}
.Body {
    background-image: url('./assets/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    overflow-x: hidden;
}

h1 {
    color: white;
    position: relative;
    right: 480px;
    top: 270px;
    text-align: center; 
    font-size: 2.7rem;
}
h3{
    color: white;
    font-size: 1.2rem;
    text-align: center; 
    position: relative;
    right: 360px;
    top: 360px;
}
p{
    color: rgba(255, 255, 255, 0.441);
    font-size: 0.9rem;
    position: relative;
    left: 260px;
    top: 380px;
}
.links{
    position: relative;
    left: 960px;
    bottom: 170px;
    text-decoration: none;
    color: white;
    margin-left: 30px;
}
.explore{
    position: relative;
    top: 405px;
    left: 260px;
    text-decoration: none;
    color: white;
}
#dynamic-btn{
    position: relative;
    left: 1300px;
    top: -191px;
}
#logout-btn{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
}
#signin-btn{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}